@use '../../../custom/Custom' as *;

.footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
}

.footer-partners {
  z-index: 15;
  position: relative;
  bottom: 0;
}

.footerNavBar {
  background-color: $background-color-4;
  position: sticky;
  bottom: 0;
}
