@charset "utf-8";

// @forward './custom/_Custom';
@use 'styles/custom/_Custom' as *;
// @forward './custom/_Custom';

@use './transitions/_transitions';
@use './components/ToolTip/_ToolTip';
@use './components/SearchBar/_SearchBar';
@use './components/FacetBar/_FacetBar';
@use './components/ToC/_ToC';

@use 'bulma/sass' with (
  // Default theme values
  $primary: $background-color-1,
  $info: $background-color-2,
  $link: $background-color-2,
  $family-primary: $font-family-1,

  $body-font-size: $font-size-3,
  $title-size: $font-size-title,

  $small-font-size: $font-size-2,

  $size-small: $font-size-1,
  $size-normal: $font-size-3,
  $size-medium: $font-size-3,
  $control-size: $font-size-3,

  $body-line-height: unset,
  // $font-size: 0,
  $hr-margin: 0,
  $hr-background-color: $background-color-3,

  // Modal Component
  $modal-z: 100,

  // Card Component
  $card-background-color: $white,
  $card-header-background-color: $background-color-2,
  $card-header-color: $white,
  $card-content-background-color: $white,
  $card-footer-background-color: $background-color-2,

  // Footer Component
  $column-gap: 0.1rem,
  $label-spacing: 0.75rem,
  $block-spacing: 0.5rem,

  // Footer styling
  $footer-padding: 0,
  $footer-background-color: $background-color-1,

  $radius-rounded: 0.15rem,
  // $border-radius: 0.15rem,
  $card-radius: 0.75rem,
  $radius: 0.15rem,
  $control-radius-small: 0.1rem,
  // $input-is-rounded: 0.15rem,
  // $input-radius: 0.15rem;
  // $input-icon-color: $background-color-3;
  $input-icon-hover-color: $background-color-2,

  // $input-icon-active-color: $foreground-color-1,
  // $input-icon-focus-color: $foreground-color-1;
  // $icon-hover-color: $foreground-color-3;
  // Notification Component
  // /** Bulma Menu Component */ $menu-item-h: 221deg,
);

$sticky-bar-undocked-height: 10vh;
$footer-position: fixed;
$footer-bottom: 0;
$notification-background-color: none;

/*************************
    Bulma Card Component
    With added classes
**************************/
.card-header {
  position: sticky;
}

.card-header-icon > span {
  color: $white;
}

.card-header-icon > span:hover {
  color: $foreground-color-3;
  animation: 300ms ease-in-out;
}

.card-footer {
  height: 100%;
  transition: all 100ms ease-in-out;
}

.card-footer:hover {
  background-color: $background-color-5;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  & > span {
    color: $background-color-2;
  }
}

.card-footer > span {
  color: $background-color-5;
  transform-origin: top;
}

.card-content.hide {
  height: 0;
}

/** Header styling */

.header-footer-content {
  flex: 0 1 auto;
}

.footer-partners {
  z-index: 15;
  position: relative;
  bottom: 0;
  // position: absolute;
}

.footerNavBar {
  background-color: $background-color-4;
  position: sticky;
  bottom: 0;
  z-index: 10;
}

.search-info-bar {
  position: fixed;
  top: 0px;
  height: 100px;
  z-index: 5;
}

// .search-info {
//   position: sticky;
//   z-index: 7;
//   top: 0;
//   align-content: center;
// }

// .search-info-background {
//   position: relative;
//   // left: -10%;
//   // width: 120%;
//   display: block;
//   padding: 5px 0px 5px 0px;
//   // height: 70px;
//   text-align: center;
//   overflow: visible;
//   // background-color: $background-color-4;
//   // justify-content: center;
// }

// .navigation-current {
//   font-weight: $font-weight-2;
//   font-family: $font-family-1;
//   font-size: $font-size-2;
// }

// .search-info-text {
//   position: relative;
//   font-weight: 700;
//   // text-align: justify;
//   // left: 20px;
// }

// .notification-overlay {
//   display: flex;
//   z-index: 100;
//   justify-content: right;
//   align-items: flex-end;
//   top: 0;
//   left: 0;
//   position: fixed;
//   width: 100%;
//   height: 100%;
// }

// .notification.is-active {
// .modal.is-active {
// opacity: 1;
// transition: all 500ms ease-in-out;
// }

// .modal {
//   display: flex;
//   z-index: 99;
// }

// .modal-card {
//   width: 100%;
// }

// .card-header-title {
//   border-radius: 0.75rem;
// }

// .card-header-title.title {
//   padding-right: var(--bulma-card-content-padding);
//   padding-left: var(--bulma-card-content-padding);
// }

// span.icon.is-clickable {
//   color: $background-color-3;
// }

// $modal-background-background-color: $background-color-4;

span.icon.is-clickable:hover {
  transition: 300ms ease-in-out;
  color: $foreground-color-1;
}

span.icon.is-clickable:active {
  color: $foreground-color-1;
}

#facetBar .columns {
  margin-bottom: 0px;
}

input[type='text']:focus,
input[type='text']:visited,
input[type='text']:not(:focus) {
  background-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  font-style: italic;
  -webkit-text-fill-color: $warmgray;
  transition:
    background-color 0s 600000s,
    color 0s 600000s !important;
}

#query:focus,
#query:active,
#query:selected {
  border: 0;
}

#searchBar > .container > .field > .control > .button.is-static {
  background-color: $white;
  color: $foreground-color-2;
}

#searchBar > .container > .field > .control > .button {
  border: 0px;
  height: 100%;
  line-height: unset;
  font-size: unset;

  svg {
    path {
      color: $background-color-1;
    }
  }

  &:hover {
    svg {
      path {
        transition: 300ms ease-in-out;
        color: $foreground-color-1;
      }
    }
  }
}

.tag {
  line-height: 0;
}

.control .button {
  border: 0px;
  height: 100%;
}

.button .is-normal {
  line-height: $font-size-3;
}

.button.is-small {
  line-height: unset;
}

#query {
  border: 0px;
  box-shadow: none;
}

.control > .button {
  box-shadow: none;
  line-height: unset;
}

.control > .button > span > input[type='checkbox'] {
  vertical-align: middle;
}

// Bulma Import
.custom-background-light {
  background-color: #edeee6;
}

.beta-flyout {
  bottom: -1rem;
  right: 0;
  font-size: 1rem;
  color: #eeb211;
}

* {
  font-family: inherit;
  text-align: inherit;
  direction: inherit;
}

/* Required for sticky footer */
html {
  height: 100%;
  overflow: auto;
}

body {
  height: auto;
  background-color: #fff;
}

h1 {
  font-size: 24px;
}

.english {
  font-family: serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.title {
  // font-size: $font-title-size;
  vertical-align: top;
}

.text-snippet {
  text-indent: 3ch;
  text-align: justify;
}

.rtl-align {
  text-align: right;
  direction: rtl;
}

.ltr-align {
  text-align: left;
  direction: ltr;
  unicode-bidi: bidi-override;
}

.ltr {
  direction: ltr;
  unicode-bidi: bidi-override;
}

.highlight {
  padding: 0.02rem;
  background-color: yellow;
  border-radius: 0.2em;
  box-shadow: 0 1px 1px 1px rgba($foreground-color-1, 0.5);
  font-weight: bold;
  border: none;
  cursor: pointer !important;
}

.highlight > span {
  color: $green;
  animation: 300ms ease-in-out;
}

.highlight > span:hover {
  color: $foreground-color-3;
}

.link-light {
  color: $background-color-3;
}

.link-subtle {
  color: $background-color-4;
}

/* Bootstrap RTL fixes start */

.rtl .alert-dismissible .close {
  left: 0;
  right: auto;
}

.rtl .alert {
  padding: 0.75rem 1.25rem;
}

.rtl .alert-dismissible {
  padding-left: 4rem;
}

.rtl .modal-header .close {
  margin: -1rem auto -1rem -1rem;
}

.rtl .form-check {
  padding-left: 0;
  padding-right: 1.25rem;
}

.rtl .form-check-input {
  margin-left: 0.125rem;
  margin-right: -1.25rem;
}

.rtl .modal-footer > :first-child {
  margin-left: 0.25rem;
  margin-right: 0;
}

.rtl .modal-footer > :last-child {
  margin-left: 0;
  margin-right: 0.25rem;
}

.unfocused {
  display: none;
}

.image-snippet {
  width: 100%;
}

.cell.is-size-4 {
  text-align-last: justify;
}

.card.metadata {
  top: 0;
  position: sticky;
  z-index: 5;
}

.card.snippet {
  z-index: 1;
}

.card-footer {
  background-color: $background-color-2;
}

.card-header.snippet {
  background-color: $background-color-2;
}

.snippet span {
  line-height: 1em;
}

.snippet.rtl {
  border-left: 0;
  border-right: 3px #ccc solid;
  padding: 0 10px 0 0;
}

/* Bootstrap RTL fixes end */

/* Pager mobile start */

@media screen and (max-width: 576px) {
  .page-first,
  .page-last,
  .page-next,
  .page-prev {
    flex-basis: 25%;
    margin-bottom: 0.5rem;
    order: -1;
  }

  .page-item {
    flex-grow: 1;
    text-align: center;
  }
}

$menu-nested-list-margin: 1em;

.transcribedText {
  width: 100%;
}

.bookTitle {
  display: block;
  position: sticky;
  top: 0;
  background-color: $white;
}

.table-of-contents-of-transcribed-text {
  display: block;
  position: sticky;
  top: 5vh;
  left: 1vw;
  height: 75vh;
  z-index: 9;

  & > .menu > .menu-list {
    overflow-y: auto;
    max-height: 62vh;
  }
}

.table-of-contents {
  display: block;
  position: sticky;
  top: 5vh;
  left: 2vw;
  // height: 100%;
  z-index: 9;
}

/* Pager mobile end */

.dropdown-menu {
  z-index: 39;
}

.dropdown-content {
  z-index: 1000;
  position: fixed;
}

.control.has-icons-left > span.icon.is-clicked {
  color: $foreground-color-1;
}

.pagination {
  border-top: 1px solid;
  border-color: $background-color-3;
}

.no-results {
  z-index: 0;
}

.no-results-image {
  z-index: -1;
  opacity: 25%;
  background-color: transparent;
}

.search-content {
  position: sticky;
  flex: 1 1 auto;
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
}

.searchBar {
  background-color: $background-color-1;
}
