@charset "utf-8";

// Import
@import './CustomStyles/YBC.scss';
@import './transitions/_transitions.scss';
@import './components/ToolTip/_tooltip.scss';

/** Overriding Bulma primary variables */
$primary: $background-color-1;
$info: $foreground-color-1;
$link: $foreground-color-3;
$family-primary: $font-family-1;

/** Bulma Card Element */
$card-color: var(--bulma-text);
$card-background-color: $white;
$card-shadow: var(--bulma-shadow);
$card-radius: 0.75rem;
$card-header-background-color: $transparent;
$card-header-color: var(--bulma-text-strong);
$card-header-padding: 0.75rem 1rem;
$card-header-shadow: 0 0.125em 0.25em
  hsla(var(--bulma-scheme-h), var(--bulma-scheme-s), var(--bulma-scheme-invert-l), 0.1);
$card-header-weight: var(--bulma-weight-bold);
$card-content-background-color: $transparent;
$card-content-padding: 1.5rem;
$card-footer-background-color: $transparent;
$card-footer-border-top: 1px solid var(--bulma-border-weak);
$card-footer-padding: 0.75rem;
$card-media-margin: var(--bulma-block-spacing);

/** Bulma Pagination Element */
$pagination-background-color: yellow;
// $pagination-min-width: $nav-min-width;
$pagination-item-background-color: pink;
$pagination-item-border-style: $nav-border-around-buttons;
$pagination-item-font-size: $nav-size-of-font;
$pagination-item-margin: $nav-margin-of-buttons;
$pagination-item-padding-left: $nav-padding-of-buttons;
$pagination-item-padding-right: $nav-padding-of-buttons;
$pagination-nav-padding-left: $nav-padding-between-buttons;
$pagination-nav-padding-right: $nav-padding-between-buttons;
$pagination-disabled-color: $background-color-2;
$pagination-disabled-background-color: $nav-color-of-disabled-background;
$pagination-disabled-border-color: blue;
$pagination-current-background-color: red;
$pagination-current-border-color: green;
$pagination-current-color: teal;
$pagination-ellipsis-color: purple;

$pagination-margin: 0.25rem;

$hr-margin: 0;

$sticky-bar-undocked-height: 10vh;

/** Header styling */
.stickySearchBarDocked {
  position: sticky;
  top: 0;
  // height: $sticky-bar-docked-height;
  max-height: max-content;
  z-index: 39;
}

.stickySearchBarUndocked {
  margin-top: 10px;
  // height: $sticky-bar-undocked-height;
  max-height: max-content;
}

.advancedSearchPanel {
  height: auto;
}

$column-gap: 0.1rem;
$label-spacing: 0.75rem;
$block-spacing: 0.5rem;

/** Footer styling */
$footer-padding: 0;
$footer-background-color: $background-color-1;
$footer-position: fixed;

$footer-bottom: 0;
.header-footer-content {
  flex: 0 1 auto;
}

.footer-partners {
  z-index: 15;
  position: relative;
  bottom: 0;
  // position: absolute;
}

.footerNavBar {
  background-color: $background-color-4;
  position: sticky;
  bottom: 0;
  z-index: 10;
}

.search-info-bar {
  position: fixed;
  top: 0px;
  height: 100px;
  z-index: 5;
}

.search-info {
  position: sticky;
  z-index: 7;
  // padding: 10px;
  top: 0;
  // height: 50px;
  // bottom: 20px;
  // width: 100vw;
  // background-color: $background-color-4;
  align-content: center;
}

.search-info-background {
  position: relative;
  // left: -10%;
  // width: 120%;
  display: block;
  padding: 5px 0px 5px 0px;
  // height: 70px;
  text-align: center;
  overflow: visible;
  // background-color: $background-color-4;
  // justify-content: center;
}

.navigation-current {
  font-weight: $font-weight-2;
  font-family: $font-family-1;
  font-size: $font-size-2;
}

.search-info-text {
  position: relative;
  font-weight: 700;
  // text-align: justify;
  // left: 20px;
}

$radius-rounded: 0.15rem;
$border-radius: 0.15rem;
$radius: 0.15rem;
$control-radius-small: 0.1rem;
$input-is-rounded: 0.15rem;

// $input-radius: 0.15rem;
// $input-icon-color: $background-color-3;

$input-icon-hover-color: $background-color-3;
$input-icon-active-color: $foreground-color-1;
// $input-icon-focus-color: $foreground-color-1;
// $icon-hover-color: $foreground-color-3;

// span.icon.is-clickable {
//   color: $background-color-3;
// }

$modal-background-background-color: $background-color-4;

span.icon.is-clickable:hover {
  transition: 300ms ease-in-out;
  color: $foreground-color-3;
}

span.icon.is-clickable:active {
  color: $foreground-color-1;
}

// $input-background-l: 100%;
// $input-background-l-delta: 0%;

// $input-h: 52;
// $input-s: 28%;
// $input-border-l: 30%;
// $input-border-l-delta: 60%;
// $input-hover-border-l-delta: 90%,
// $input-active-border-l-delta: 94%,
// $input-focus-h: 54deg;
// $input-focus-s: 0%;
// $input-focus-l: 100%;
.card-header {
  position: sticky;
}

.card-header-icon > span:hover {
  color: $foreground-color-3;
  animation: 300ms ease-in-out;
}

.card-footer > span {
  color: $foreground-color-2;
  transform-origin: top;
}

.card-footer > span:hover {
  color: $foreground-color-3;
}

.card-content.hide {
  height: 0;
}

// $line-height:
// $modal-card-spacing: var(--bulma-modal-card-spacing);
// $modal-card-head-background-color: var(--bulma-modal-card-head-background-color);
// $modal-card-head-padding: var(--bulma-modal-card-head-padding);
// $modal-card-head-radius: var(--bulma-modal-card-head-radius);
// $modal-card-title-color: var(--bulma-modal-card-title-color);
// $modal-card-title-line-height: var(--bulma-modal-card-title-line-height);
// $modal-card-title-size: var(--bulma-modal-card-title-size);
// $modal-card-foot-background-color: var(--bulma-modal-card-foot-background-color);
// $modal-card-foot-radius: var(--bulma-modal-card-foot-radius);
// $modal-card-body-background-color: var(--bulma-modal-card-body-background-color);
// $modal-card-body-padding: var(--bulma-modal-card-body-padding);
// $

// $input-h: 0;
// $input-s: 0;
// $input-l: 0;
// $button-h: 0;
// $button-s: 0;
// $button-l: 0;

// $input-focus-shadow-size: 0.1875em 0.1875em 0.1875em 0.1875em,
// $input-color-l: 0%,
// $input-focus-shadow-alpha:,
// $input-disabled-color:,
// $input-disabled-background-color:,
// $input-disabled-border-color:,
// $input-disabled-placeholder-color:,
// $input-arrow:,
// $input-radius:,
// $input-shadow: none;

$modal-background-background-color: $background-color-2-transparency-50;

@import '../../node_modules/bulma/sass';
// @import 'bulma/sass';

// @use '../../../node_modules/bulma/sass' with (
// );
// Modal
// $modal-z: var(--bulma-modal-z),
// $modal-background-background-color: $background-color-1,
// $modal-content-margin-mobile: var(--bulma-modal-content-margin-mobile),
// $modal-content-spacing-mobile: var(--bulma-modal-content-spacing-mobile),
// $modal-content-spacing-tablet: var(--bulma-modal-content-spacing-tablet),
// $modal-close-dimensions: var(--bulma-modal-close-dimensions),
// $modal-close-right: var(--bulma-modal-close-right),
// $modal-close-top: var(--bulma-modal-close-top),
// $modal-breakpoint: var(--bulma-)
// @import '../../../node_modules/bulma/sass';
// :root {
//   --bulma-primary-h: 92deg;
//   --bulma-primary-s: 42%;
//   --bulma-link-h: 183deg;
//   --bulma-link-s: 43%;
//   --bulma-link-l: 36%;
//   --bulma-info-h: 183deg;
//   --bulma-info-s: 43%;
//   --bulma-info-l: 36%;
//   --bulma-success-h: 200deg;
//   --bulma-success-s: 60%;
//   --bulma-success-l: 63%;
//   --bulma-scheme-h: 146;
//   --bulma-scheme-s: 18%;
//   --bulma-family-primary: Inter,SF Pro,Segoe UI,Roboto,Oxygen,Ubuntu,Helvetica Neue,Helvetica,Arial,Noto,sans-serif;
//   --bulma-family-secondary: Inter,SF Pro,Segoe UI,Roboto,Oxygen,Ubuntu,Helvetica Neue,Helvetica,Arial,Noto,sans-serif;
//   --bulma-block-spacing: 1.25rem;
// --bulma-radius: 0.35rem;
// }
// .modal {
//   --bulma-modal-card-head-radius: 1rem;
//   --bulma-modal-card-title-size: 2.5rem;
//   --bulma-modal-card-foot-radius: 1rem;
// }
// .pagination {
//   --bulma-pagination-item-h: 292;
//   --bulma-pagination-item-s: 0%;
//   --bulma-pagination-item-background-l-delta: 1%;
//   --bulma-pagination-item-hover-background-l-delta: 0%;
//   --bulma-pagination-item-active-background-l-delta: 0%;
//   --bulma-pagination-item-border-width: 2px;
//   --bulma-pagination-item-color-l: 70%;
//   --bulma-pagination-item-outer-shadow-a: .15;
//   --bulma-pagination-current-color: #eeb211;
//   --bulma-pagination-current-background-color: #eeb211;
//   --bulma-pagination-current-border-color: #eeb211;
//   --bulma-pagination-ellipsis-color: #d2d2d2;
//   --bulma-pagination-selected-item-h: 46deg;
//   --bulma-pagination-selected-item-s: 90%;
//   --bulma-pagination-selected-item-l: 100%;
//   --bulma-pagination-selected-item-background-l: 48%;
//   --bulma-pagination-selected-item-border-l: 46%;
//   --bulma-pagination-selected-item-color-l: 100%;
// }
// .input {
// --bulma-input-h: 52;
// --bulma-input-s: 28%;
// --bulma-input-border-l: 30%;
// --bulma-input-border-l-delta: 60%;
// --bulma-input-hover-border-l-delta: 90%;
// --bulma-input-active-border-l-delta: 94%;
// --bulma-input-focus-h: 54deg;
// --bulma-input-focus-s: 0%;
// --bulma-input-focus-l: 100%;
// --bulma-input-focus-shadow-size: 0.1875em 0.1875em 0.1875em 0.1875em;
// --bulma-input-color-l: 0%;
// --bulma-input-background-l: 0%;
// --bulma-input-background-l-delta: 100%;
// --bulma-input-radius: 0.35rem;
// }
// Bulma Import
.custom-background-light {
  background-color: #edeee6;
}

// .current-page-color {
// background-color: #eeb211;
// border-color: #eeb211;
// }

.beta-flyout {
  float: right;
  bottom: -1rem;
  right: 0;
  font-size: 1rem;
  color: #eeb211;
}

* {
  font-family: inherit;
  text-align: inherit;
  direction: inherit;
}

/* Required for sticky footer */
html {
  height: 100%;
  overflow: auto;
}

body {
  height: auto;
  background-color: #fff;
  // --bulma-body-line-height: 1.25em;
  /*font-family: 'Times New Roman', Times, serif;*/
}

h1 {
  font-size: 24px;
}

.yiddish {
  //font-family: 'Frank Ruhl Libre', serif;
  // font-family: 'David Libre', serif;
  // font-family: 'Noto', sans-serif;
  // font-optical-sizing: auto;
  // font-weight: 400;
  // font-style: normal;
}

.english {
  font-family: serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.title {
  font-size: 24px;
  vertical-align: top;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  // color: #eeb211;
}

.rtl-align {
  text-align: right;
  direction: rtl;
}

.ltr-align {
  text-align: left;
  direction: ltr;
  unicode-bidi: bidi-override;
}

.ltr {
  direction: ltr;
  unicode-bidi: bidi-override;
}

.highlight {
  padding: 0.1rem;
  background-color: rgba($foreground-color-1, 0.5);
  border-radius: 2em;
  box-shadow: 0 2px 4px 4px rgba($foreground-color-1, 0.5);
  font-weight: bold;
  border: none;
  // outline: 1px #e0e0e0 solid;
  cursor: pointer !important;
}

.highlight > span {
  color: $foreground-color-1;
  animation: 300ms ease-in-out;
}

.highlight > span:hover {
  color: $foreground-color-3;
}

.link-subtle {
  color: $foreground-color-2;
}

/* Bootstrap RTL fixes start */

.rtl .alert-dismissible .close {
  left: 0;
  right: auto;
}

.rtl .alert {
  padding: 0.75rem 1.25rem;
}

.rtl .alert-dismissible {
  padding-left: 4rem;
}

.rtl .modal-header .close {
  margin: -1rem auto -1rem -1rem;
}

.rtl .form-check {
  padding-left: 0;
  padding-right: 1.25rem;
}

.rtl .form-check-input {
  margin-left: 0.125rem;
  margin-right: -1.25rem;
}

.rtl .modal-footer > :first-child {
  margin-left: 0.25rem;
  margin-right: 0;
}

.rtl .modal-footer > :last-child {
  margin-left: 0;
  margin-right: 0.25rem;
}

.unfocused {
  display: none;
}

.image-snippet {
  width: 100%;
}

.card.metadata {
  top: 0;
  position: sticky;
  z-index: 5;
}

.card.snippet {
  z-index: 1;
}

.card-footer {
  background-color: $foreground-color-1;
}

.card-header.snippet {
  background-color: $foreground-color-2;
}

// .snippet br:nth-child(even) {
//   display: none;
// }
// .snippet br {
//   // display: inline-block;
//   margin: -10px;
//   // margin: 10px 0;
//   line-height: 0;
//   // max-height: 0px;
// }

.snippet span {
  line-height: 1em;
}

.snippet.rtl {
  border-left: 0;
  border-right: 3px #ccc solid;
  padding: 0 10px 0 0;
}

/* Bootstrap RTL fixes end */

/* Pager mobile start */

@media screen and (max-width: 576px) {
  .page-first,
  .page-last,
  .page-next,
  .page-prev {
    flex-basis: 25%;
    margin-bottom: 0.5rem;
    order: -1;
  }

  .page-item {
    flex-grow: 1;
    text-align: center;
  }
}

$menu-nested-list-margin: 1em;

.transcribedText {
  width: 100%;
}

.bookTitle {
  display: block;
  position: sticky;
  top: 0;
  background-color: white;
}

.table-of-contents {
  display: block;
  position: sticky;
  top: 5vh;
  left: 2vw;
  height: 75vh;
}

.menu-list {
  overflow-y: auto;
  max-height: 62vh;
}

/* Pager mobile end */

.dropdown-menu {
  z-index: 39;
}

.dropdown-content {
  z-index: 1000;
  position: fixed;
}

// .container {
// position: sticky;
// }

/*
  Fix for drop-down getting hidden by modal-card-foot
  From https://stackoverflow.com/a/75182245/1417558
*/
// .modal.has-overflow {
//   position: fixed !important;
//   overflow: auto !important;
// }
// .modal .modal-content,
// .modal .modal-card,
// .modal .modal-card-body {
//   overflow: visible !important;
// }

.modal-card {
  width: 100%;
}

.notification {
  z-index: 41;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 3s;
  opacity: 0;
}

.pagination {
  border-top: 1px solid;
  border-color: $background-color-3;
}

.no-results {
  z-index: 0;
  // display: -webkit-flex;
  // display: flex;
  // -webkit-align-items: center;
  // align-items: center;
  // -webkit-justify-content: center;
  // justify-content: center;

  // width: 100vw;
  // height: 100vh;
  // margin: 0 auto;
  // background: #f7f7f7;
  // left: 50%;
  // top: 50%;
  // margin-left: -100px;
  // margin-top: -100px;
}

.no-results-image {
  z-index: -1;
  opacity: 25%;
  background-color: transparent;
}

// &.is-active {
//   visibility: visible;
//   .modal-background {
//     opacity: 1;
//     @include box_shadow_dark();
//     background-color: rgba(0, 0, 0, 0.85);
//    }

//   .modal-content {
//     transform: scale(1);
//     opacity: 1;
//   }
// }

.search-content {
  position: sticky;
  flex: 1 1 auto;
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
}

.searchBar {
  background-color: $background-color-4;
}
