@charset "utf-8";

@use './custom/Custom' as *;

@use './jochre/jochre.scss';

* {
  font-family: inherit;
  text-align: inherit;
  direction: inherit;
}

html {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  height: auto;
  background-color: #fff;
}

h1 {
  font-size: 24px;
}

span.icon.is-clickable:hover {
  transition: 300ms ease-in-out;
  color: $foreground-color-1;
}

span.icon.is-clickable:active {
  color: $foreground-color-1;
}

input[type='text']:focus,
input[type='text']:visited,
input[type='text']:not(:focus) {
  background-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  font-style: italic;
  -webkit-text-fill-color: $warmgray;
  transition:
    background-color 0s 600000s,
    color 0s 600000s !important;
}

.control .button {
  border: 0px;
  height: 100%;
}

.button .is-normal {
  line-height: $font-size-3;
}

.button.is-small {
  line-height: unset;
}

.control > .button {
  box-shadow: none;
  line-height: unset;
}

.control > .button > span > input[type='checkbox'] {
  vertical-align: middle;
}

.english {
  font-family: serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.title {
  vertical-align: top;
}

.rtl-align {
  text-align: right;
  direction: rtl;
}

.ltr-align {
  text-align: left;
  direction: ltr;
  unicode-bidi: bidi-override;
}

.link-subtle {
  color: $background-color-4;
}

@media screen and (max-width: 576px) {
  .page-first,
  .page-last,
  .page-next,
  .page-prev {
    flex-basis: 25%;
    margin-bottom: 0.5rem;
    order: -1;
  }

  .page-item {
    flex-grow: 1;
    text-align: center;
  }
}

$menu-nested-list-margin: 1em;

.transcribedText {
  width: 100%;
}

.bookTitle {
  display: block;
  position: sticky;
  top: 0;
  background-color: $white;
}

.table-of-contents-of-transcribed-text {
  display: block;
  position: sticky;
  top: 5vh;
  left: 1vw;
  height: 75vh;
  z-index: 9;

  & > .menu > .menu-list {
    overflow-y: auto;
    max-height: 62vh;
  }
}

.icon.is-clicked > svg > path {
  color: $foreground-color-1;
}

.pagination {
  border-top: 1px solid;
  border-color: $background-color-3;
}

.no-results {
  z-index: 0;
}

.no-results-image {
  opacity: 25%;
  background-color: transparent;
}

.search-content {
  position: sticky;
  flex: 1 1 auto;
}
