@use '../../../custom/Custom' as *;

.vueOnboardingTour {
  width: 100%;
  height: 100%;
  z-index: 2394810928340912483901283409214831209348102934812094381209483109283449356713478512048301924756237450982175;
  position: fixed;
}

.popupContainer {
  position: fixed;
  z-index: 2394810928340912483901283409214831209348102934812094381209483109283449356713478512048301924756237450982175234;
  max-width: min-content;
}
.overlay {
  position: absolute;
  box-shadow:
    inset 0px 0px 10px 0px rgba(255, 255, 255, 1),
    0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 9999;
}

.disabled {
  svg {
    color: gray;
  }
}

.overlay-highlight {
  position: absolute;
  color: $background-color-4;
  border-radius: 10px;
  z-index: 9999;
  svg {
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

.spinner {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  // margin: 50px;
  display: inline-block;
  &:after,
  &:before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
}

.spinner-1:after {
  position: absolute;
  top: 0px;
  border: 4px solid transparent;
  border-top-color: $foreground-color-3;
  border-bottom-color: $foreground-color-3;
  animation: spinny 2s linear infinite;

  @keyframes spinny {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(180deg) scale(1.2);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }
}

.spinner-2 {
  animation: spin 2s linear infinite;
  &:before,
  &:after {
    height: 20px;
    width: 20px;
    background: orangered;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
  }

  &:after {
    top: auto;
    bottom: -10px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(45deg);
    }
    75% {
      transform: rotate(215deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

// .spinner-3
//   background: none
//   border: 4px solid #eee
//   &:before, &:after
//     width: 4px
//     height: 66px
//     background: orangered
//     border-radius: 0px
//     position: absolute
//     top: 50%
//     left: 50%
//     margin-left: -2px
//     transform-origin: top center
//     animation: spins 1s linear infinite
//   &:before
//     height: 45px
//     animation: spins 8s linear infinite

// @keyframes spins
//   0%
//     transform: rotate(0deg)
//   100%
//     transform: rotate(360deg)

// .spinner-4
//   &:before, &:after
//     background: orangered
//     position: absolute
//     top: 50%
//     left: 50%
//     margin-top: -50px
//     margin-left: -50px
//     animation: pulse 3s linear infinite
//     opacity: 0

//   &:after
//     animation: pulse 2s linear 2.3s infinite

// @keyframes pulse
//   0%
//     transform: scale(0)
//     opacity: 1
//   25%
//   //  opacity: 0.5
//   50%
//     //opacity: 1
//   75%
//     //opacity: 0.5
//   100%
//     transform: scale(1.3)
//     opacity: 0

// .spinner-5
//   height: 0px
//   width: 0px

//   span
//     display: block
//     height: 20px
//     width: 20px
//     background: #ddd
//     border-radius: 50%
//     top: 0px
//     position: absolute
//     background-color: $orange

//     &:nth-child(1)
//       left: -40px
//       animation: bounce 1.5s ease-in-out infinite

//     &:nth-child(2)
//       animation: bounce 1.5s ease-in-out 0.33s infinite

//     &:nth-child(3)
//       animation: bounce 1.5s ease-in-out .66s infinite
//       left: 40px

// @keyframes bounce
//   0%, 50%, 100%
//     transform: translateY(0px) scale(1)
//   75%
//     transform: translateY(-30px) scale(1.3)
//     background-color: darken($orange, 10%)
//   100%
//     background-color: $orange

// .loader
//   width: 300px
//   height: 0px
//   border-top: 8px dotted #eee
//   background: none
//   display: inline-block
//   position: relative

//   &:before, &:after
//     content: ''
//     display: block
//     height: 0px
//     width: 0px
//     border: 30px solid $orange
//     border-radius: 50%
//     border-bottom-color: transparent
//     border-right-color: transparent
//     position: absolute
//     top: 50%
//     margin: -34px
//     animation: topchomp 1s ease-in-out infinite reverse, moveChomp 3s linear infinite

//   &:after
//     border-color: $orange
//     border-top-color: transparent
//     border-right-color: transparent
//     animation: bottomchomp 1s ease-in-out infinite, moveChomp 3s linear infinite

// @keyframes bottomchomp
//   0%, 100%
//     transform: rotate(10deg)
//   50%
//     transform: rotate(-50deg)

// @keyframes topchomp
//   0%, 100%
//     transform: rotate(-20deg)
//   50%
//     transform: rotate(37deg)

// @keyframes moveChomp
//   0%
//     left: 0%
//   100%
//     left: 100%
