// Loading custom style
@use '../custom/Custom' as *;

// Transitions
@forward './transitions/_transitions';

// Component Styling
@forward './components/HeaderPage/HeaderPage';
@forward './components/FooterPage/FooterPage';

// _Component Styling
@forward './components/SearchBar/SearchBar';
@forward './components/FacetBar/FacetBar';
@forward './components/ToC/ToC';
@forward './components/FindAuthors/FindAuthors';
@forward './components/Card/Card';
@forward './components/DisplaySnippets/DisplaySnippets';
@forward './components/SingleSnippet/SingleSnippet';
@forward './components/Switch/Switch';
@forward './components/FilterTag/FilterTag';
@forward './components/SimpleKeyboard/SimpleKeyboard';
@forward './components/Dropdown/Dropdown';
@forward './components/PageNumbering/PageNumbering';

// Directive Styling
@forward './components/ToolTip/_ToolTip';

// Bulma
@forward 'bulma/sass' with (
  $tablet: 768px,

  // Default theme values
  $primary: $background-color-1,
  $info: $background-color-2,
  $link: $background-color-2,
  $family-primary: $font-family-1,

  $body-font-size: $font-size-3,
  $title-size: $font-size-title,

  $small-font-size: $font-size-2,

  $size-small: $font-size-1,
  $size-normal: $font-size-3,
  $size-medium: $font-size-3,
  $control-size: $font-size-3,

  $body-line-height: unset,

  $navbar-item-color: $white,
  // $navbar-item-background-l-delta: unset,
  $navbar-background-color: $background-color-1,
  $navbar-box-shadow-size: var(--bulma-navbar-box-shadow-size),
  $navbar-box-shadow-color: var(--bulma-navbar-box-shadow-color),
  $navbar-height: var(--bulma-navbar-height),
  $navbar-padding-vertical: var(--bulma-navbar-padding-vertical),
  $navbar-padding-horizontal: var(--bulma-navbar-padding-horizontal),
  $navbar-z: 2147483648,
  $navbar-fixed-z: 2147483648,
  $navbar-item-img-max-height: 5vh,
  $navbar-burger-color: $background-color-2,
  $navbar-tab-hover-background-color: $background-color-2,
  $navbar-tab-hover-border-bottom-color: $background-color-2,
  $navbar-tab-active-color: $background-color-2,
  $navbar-tab-active-background-color: $background-color-2,
  $navbar-tab-active-border-bottom-color: var(--bulma-navbar-tab-active-border-bottom-color),
  $navbar-tab-active-border-bottom-style: var(--bulma-navbar-tab-active-border-bottom-style),
  $navbar-tab-active-border-bottom-width: var(--bulma-navbar-tab-active-border-bottom-width),
  $navbar-dropdown-background-color: $background-color-2,
  $navbar-dropdown-border-l: var(--bulma-navbar-dropdown-border-l),
  $navbar-dropdown-border-color: var(--bulma-navbar-dropdown-border-color),
  $navbar-dropdown-border-style: var(--bulma-navbar-dropdown-border-style),
  $navbar-dropdown-border-width: var(--bulma-navbar-dropdown-border-width),
  $navbar-dropdown-offset: var(--bulma-navbar-dropdown-offset),
  $navbar-dropdown-arrow: $white,
  $navbar-dropdown-radius: 3px,
  $navbar-dropdown-z: 2147483648,
  $navbar-dropdown-boxed-radius: var(--bulma-navbar-dropdown-boxed-radius),
  $navbar-dropdown-boxed-shadow: var(--bulma-navbar-dropdown-boxed-shadow),
  $navbar-divider-background-l: var(--bulma-navbar-divider-background-l),
  $navbar-divider-height: var(--bulma-navbar-divider-height),
  $navbar-bottom-box-shadow-size: var(--bulma-navbar-bottom-box-shadow-size),
  $hr-margin: 0,
  $hr-background-color: $background-color-3,

  $block-spacing: unset,

  // Modal Component
  $modal-z: 100,

  $dropdown-content-z: 42,

  // Card Component
  $card-background-color: $white,
  $card-header-background-color: $background-color-2,
  $card-header-color: $white,
  $card-content-background-color: $white,
  $card-footer-background-color: $background-color-2,

  // Footer Component
  $column-gap: 0.1rem,
  $label-spacing: 0.75rem,
  // $block-spacing: 0.5rem,
  // Footer styling
  $footer-padding: 0,
  $footer-background-color: $background-color-1,

  $radius-rounded: 0.15rem,
  $card-radius: 0.75rem,
  $radius: 0.15rem,
  $control-radius-small: 0.1rem,
  $input-icon-hover-color: $background-color-2,

  // Dropdown
  // $dropdown-menu-min-width: var(--bulma-dropdown-menu-min-width),
  // $dropdown-content-background-color: var(--bulma-dropdown-content-background-color),
  // $dropdown-content-offset: var(--bulma-dropdown-content-offset),
  // $dropdown-content-padding-bottom: var(--bulma-dropdown-content-padding-bottom),
  // $dropdown-content-padding-top: var(--bulma-dropdown-content-padding-top),
  // $dropdown-content-radius: var(--bulma-dropdown-content-radius),
  // $dropdown-content-shadow: var(--bulma-dropdown-content-shadow),
  // $dropdown-content-z: var(--bulma-dropdown-content-z),
  // $dropdown-divider-background-color: var(--bulma-dropdown-divider-background-color)
);

@forward 'bulma-switch-control';

@forward './components//UserOptions/UserOptions';

// :root {
//   --cc-z-index: 500;
// }

.navbar {
  // --bulma-navbar-item-hover-background-l-delta: -50%;
}

.pagination {
  --bulma-pagination-margin: 0;
}
