// Loading custom style
@use '../custom/Custom' as *;

// Transitions
@forward './transitions/_transitions';

// Component Styling
@forward './components/HeaderPage/HeaderPage';
@forward './components/FooterPage/FooterPage';

// _Component Styling
@forward './components/SearchBar/_SearchBar';
@forward './components/FacetBar/_FacetBar';
@forward './components/ToC/_ToC';
@forward './components/FindAuthors/FindAuthors';
@forward './components/Card/Card';
@forward './components/DisplaySnippets/DisplaySnippets.scss';

// Directive Styling
@forward './components/ToolTip/_ToolTip';

// Bulma
@forward 'bulma/sass' with (
  // Default theme values
  $primary: $background-color-1,
  $info: $background-color-2,
  $link: $background-color-2,
  $family-primary: $font-family-1,

  $body-font-size: $font-size-3,
  $title-size: $font-size-title,

  $small-font-size: $font-size-2,

  $size-small: $font-size-1,
  $size-normal: $font-size-3,
  $size-medium: $font-size-3,
  $control-size: $font-size-3,

  $body-line-height: unset,
  // $size-normal: $size-normal,
  // $font-size: 0,
  $hr-margin: 0,
  $hr-background-color: $background-color-3,

  // Modal Component
  $modal-z: 100,

  // Card Component
  $card-background-color: $white,
  $card-header-background-color: $background-color-2,
  $card-header-color: $white,
  $card-content-background-color: $white,
  $card-footer-background-color: $background-color-2,

  // Footer Component
  $column-gap: 0.1rem,
  $label-spacing: 0.75rem,
  $block-spacing: 0.5rem,

  // Footer styling
  $footer-padding: 0,
  $footer-background-color: $background-color-1,

  $radius-rounded: 0.15rem,
  $card-radius: 0.75rem,
  $radius: 0.15rem,
  $control-radius-small: 0.1rem,
  $input-icon-hover-color: $background-color-2
);

@forward 'bulma-switch-control';
