// .user-options {
//   @media screen and (min-width: 1025px) {
//     // position: fixed;
//     top: 1px;
//   }
//   position: fixed;
// }

.ltr {
  left: 10px;
  direction: ltr;
}
.rtl {
  right: 10px;
  direction: rtl;
}
