@use '../../../custom/Custom' as *;

.text-snippet {
  text-indent: 1em;
  line-height: 1.4em;
}

@media screen and (max-width: 375px) {
  .load-original-image-button {
    span {
      overflow-x: hidden;
      overflow-x: clip;
      text-overflow: ellipsis;
      max-width: 100px;
    }
  }
}
