@use 'styles/custom/_Custom' as *;

.table-of-contents {
  display: block;
  position: sticky;
  top: 5vh;
  left: 2vw;
  height: 75vh;
  background-color: $background-color-1;
  .transcribed-text {
    z-index: 9;
    height: 100vh;
  }
}
