/** CSS Transitions
These transitions use the Vue Transition component. There are three components, which use transitions:
- the reusable AccordionCard component, used for example to render search results in SingleResult.vue.
This component can be styled with the Bulma card class above.
- the AdvancedSearch component. The 

Rather than scoping these transitions to each of these components, here they can be reused and adjusted
according to style policies.
*/

/** AccordionCard Transition Styles */
.accordion-card .body {
  transition: 250ms ease-in-out;
}

.accordion-card .footer-icon {
  position: relative;
  transform-origin: center;
  transform: rotate(0deg);
  transition-duration: 0.3s;
}

.accordion-card .footer-icon.rotate {
  transform-origin: center;
  transform: rotate(180deg);
  transition-duration: 0.3s;
}

.notification .card {
  transition: 150ms ease-in-out;
}

// .modal .modal-background {
//   transition: all 500ms ease-in-out;
// }

/** AdvancedSearch Transition Styles */
.advancedSearch .body {
  overflow: hidden;
  transition: all 150ms ease-out;
}

// .fade .modal,
// .fade .notification-overlay {
//   transform: opacity(100%);
//   transition: all 150ms ease-in-out;
// }

// .fade .modal-card-head {
//   transition: opacity 0.5s ease-in-out;
// }

// .fade .modal-card-body {
//   transition: opacity 0.5s ease-in-out;
// }

// .fade .modal-card-footer {
//   transition: opacity 0.5s ease-in-out;
// }

/** PageFooter Transition Styles */
.slide-in-enter-active,
.slide-in-leave-active {
  transition: opacity 0.5s ease-in-out;
}

.slide-in-enter-from,
.slide-in-leave-to {
  opacity: 0;
}

.slide-out-enter-active,
.slide-out-leave-active {
  transition: all 0.5s ease-in-out;
}

.slide-out-enter-from,
.slide-out-leave-to {
  // transform: translateY(4rem);
  opacity: 0;
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.25s ease-in-out;
}

.slide-up-enter-from {
  opacity: 0;
  // transform: translateY(100px);
}

.slide-up-leave-to {
  opacity: 0;
  // transform: translateY(-100px);
}
