$grey: #757575;

@use 'bulma/sass' with (
  $pagination-current-color: black,
  $pagination-current-background-color: #eeb211,
  $pagination-current-border-color: #eeb211
);

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap');

// Bulma Import

.custom-background {
  background-color: $grey;
}

.custom-background-light {
  background-color: #edeee6;
}

.current-page-color {
  background-color: #eeb211;
  border-color: #eeb211;
}

.beta-flyout {
  float: right;
  bottom: -1rem;
  right: 0;
  font-size: 1rem;
  color: #eeb211;
}

* {
  font-family: inherit;
  text-align: inherit;
  direction: inherit;
}

/* Required for sticky footer */
html {
  height: 100%;
  overflow: auto;
}
body {
  height: auto;
}

body {
  background-color: #fff;
  /*font-family: 'Times New Roman', Times, serif;*/
}

h1 {
  font-size: 24px;
}

.yiddish {
  //font-family: 'Frank Ruhl Libre', serif;
  font-family: 'David Libre', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.english {
  font-family: serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.title {
  font-size: 24px;
  vertical-align: top;
}

.metadata {
}

a {
  text-decoration: underline;
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: #ed490a;
}

.rtl-align {
  text-align: right;
  direction: rtl;
}

.rtl {
}

.ltr-align {
  text-align: left;
  direction: ltr;
  unicode-bidi: bidi-override;
}

.ltr {
  direction: ltr;
  unicode-bidi: bidi-override;
}

.highlight {
  background-color: #ffff80;
  box-shadow: 0 1px 3px 4px rgba(0, 0, 0, 0.3);
  font-weight: normal;
  outline: 4px #ffff80 solid;
}

.link-white a {
  color: #fff;
}

/* Bootstrap RTL fixes start */

.rtl .alert-dismissible .close {
  left: 0;
  right: auto;
}

.rtl .alert {
  padding: 0.75rem 1.25rem;
}

.rtl .alert-dismissible {
  padding-left: 4rem;
}

.rtl .modal-header .close {
  margin: -1rem auto -1rem -1rem;
}

.rtl .form-check {
  padding-left: 0;
  padding-right: 1.25rem;
}

.rtl .form-check-input {
  margin-left: 0;
  margin-right: -1.25rem;
}

.rtl .modal-footer > :first-child {
  margin-left: 0.25rem;
  margin-right: 0;
}

.rtl .modal-footer > :last-child {
  margin-left: 0;
  margin-right: 0.25rem;
}

/* Bootstrap RTL fixes end */

/* Pager mobile start */

@media screen and (max-width: 576px) {
  .page-first,
  .page-last,
  .page-next,
  .page-prev {
    flex-basis: 25%;
    margin-bottom: 0.5rem;
    order: -1;
  }

  .page-item {
    flex-grow: 1;
    text-align: center;
  }
}

/* Pager mobile end */

.dropdown-menu {
  z-index: 802;
}

/*
  Fix for drop-down getting hidden by modal-card-foot
  From https://stackoverflow.com/a/75182245/1417558
*/
.modal.has-overflow {
  position: fixed !important;
  overflow: auto !important;
}
.modal .modal-content,
.modal .modal-card,
.modal .modal-card-body {
  overflow: visible !important;
}

.notification {
  z-index: 801;
  position: fixed;
  bottom: 0;
  right: 0;
}
