$grey: #757575;

@use 'bulma/sass' with (
  $pagination-current-color: black,
  $pagination-current-background-color: #eeb211,
  $pagination-current-border-color: #eeb211
);

@use 'bulma/sass/utilities/mixins';

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap');

@include mixins.touch {
  // Styles applied
  // below $desktop
}

// Bulma Import

.custom-background {
  background-color: $grey;
}

.beta-flyout {
  float: right;
  bottom: -1rem;
  right: 0;
  font-size: 1rem;
  color: #eeb211;
}
