/** Default YBC JOCHRE CSS Configuration for https://ocr.yiddishbookcenter.org/ */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Hebrew:wght@100..900&display=swap");
/** Base colors */
/** Background colors */
/** Foreground colors */
/** Sizing */
/** Fonts & text */
/** Footer navigation bar */
/** ToolTip styling */
/** Snippet styling */
.card.metadata {
  top: 0;
  position: sticky;
  z-index: 5;
}

.card.snippet {
  z-index: 1;
}

.card-header.selected-snippet {
  background-color: hsl(183, 43%, 36.5%);
}
.card-header.selected-snippet .card-header-title {
  color: #ffffff;
}
.card-header.snippet {
  background-color: #ffffff;
}
.card-header.snippet .card-header-title {
  color: hsl(from rgb(53, 129, 133) h s calc(l + 30));
}
.card-header.snippet > .card-header-icon > .icon {
  color: hsl(from rgb(53, 129, 133) h s calc(l + 30));
}

.image-snippet {
  width: 100%;
}

.snippet span {
  line-height: 1em;
}

.snippet.rtl {
  border-left: 0;
  border-right: 3px #ccc solid;
  padding: 0 10px 0 0;
}

.highlight {
  padding: 0.02rem;
  color: #000000;
  background-color: rgb(238, 177, 17);
  border-radius: 0.4em;
  padding: 0.05em 0.2em 0.05em 0.2em;
  box-shadow: 0 0 0.15em 0.15em rgba(238, 177, 17, 0.5);
  font-weight: bold;
  border: none;
  cursor: pointer !important;
}

.highlight > span:hover {
  color: #ffffff;
  transition: all 200ms ease-in-out;
}