@import '../../CustomStyles/YBC.scss';

/******************
*     SEARCHBAR   *
******************/
.searchBar {
  background-color: $background-color-1;
}

/** Header styling */
.stickySearchBarDocked {
  position: sticky;
  top: 0;
  // height: $sticky-bar-docked-height;
  max-height: max-content;
  z-index: 39;
}

.stickySearchBarUndocked {
  margin-top: 10px;
  // height: $sticky-bar-undocked-height;
  max-height: max-content;
}

#searchBar > .container > .field > .control > .button.is-static {
  background-color: $white;
  color: $foreground-color-2;
}

#searchBar > .container > .field > .control > .button {
  border: 0px;
  height: 100%;
  line-height: unset;
  font-size: unset;

  svg {
    path {
      color: $background-color-1;
    }
  }

  &:hover {
    svg {
      path {
        transition: 300ms ease-in-out;
        color: $foreground-color-1;
      }
    }
  }
}

#query:focus,
#query:active,
#query:selected {
  border: 0;
}
