@use '../../../custom/Custom' as *;

.contentsColumn {
  height: 4vh;
}

.table-of-contents {
  display: block;
  position: fixed;
  top: 23vh;
  height: 73vh;
  background-color: $background-color-1;

  &.search-results {
    width: 24vw;
  }

  &.facets {
    width: 17vw;
  }

  .menu-list {
    overflow-y: scroll;
    max-height: 46vh;
  }

  .facet-list {
    overflow-y: scroll;
    max-height: 57vh;
  }

  .transcribed-text {
    z-index: 9;
  }

  &.left {
    left: 2vw;
  }

  &.right {
    right: 2vw;
  }

  // .searchResultsList {
  // height: 100%;
  // }
}

.toc-mobile {
  height: 7vh;
  background-color: $white;

  &.toc-mobile-left {
    left: 0;
  }

  &.toc-mobile-right {
    right: 0;
  }

  .toc-drawer {
    position: fixed;
    top: 15vh;
    right: 1vw;
    left: 1vw;
    height: 83vh;
    border: 1px solid $foreground-color-2;

    .menu-list {
      max-height: 71vh;
      overflow-y: scroll;
      border: 1px solid $foreground-color-2;
      border-radius: 0.5em;

      a:not(.is-active) {
        background-color: unset;
      }
    }
  }

  // .toc-button {
  //   position: fixed;
  //   top: 7vh;
  //   background-color: white;

  //   &.toc-mobile-left {
  //     left: 0;
  //   }

  //   &.toc-mobile-right {
  //     right: 0;
  //   }
  //   &.toc-mobile-middle {
  //   }

  .button {
    &.toc-index-btn {
      width: 8vw;
    }

    &.toc-metadata-btn {
      width: 42vw;
      max-width: 42vw;
      overflow: hidden;

      span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        // display: block;
      }
    }
  }
}
// }
